
/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Main content */
main {
    flex: 1; /* Cho phép nội dung chính mở rộng nếu có nhiều nội dung */
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #cce7ff;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    color: #333;
    position: relative;
    width: 100%;
    bottom: 0;
}

    footer .column {
        width: 20%;
    }

    footer h3 {
        margin-bottom: 10px;
    }

    footer p, footer ul {
        font-size: 14px;
        line-height: 1.6;
    }

    footer ul {
        list-style-type: none;
        padding: 0;
    }

        footer ul li {
            margin-bottom: 5px;
        }


