<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">


    <link href="@Url.Content("~/Content/css/layout.css?v=1")" rel="stylesheet" />

    <style>
        /* Header styles */
        nav {
            width: 100%;
            height: 60px;
            background-color: #333;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            position: fixed; /* Fixes the navbar at the top */
            top: 0; /* Aligns the navbar to the top of the page */
            left: 0;
            z-index: 1000; /* Ensures navbar is on top */
        }

            nav .logo img {
                height: 40px;
            }

            nav .menu a,
            nav .icons a {
                color: #fff;
                text-decoration: none;
                margin: 0 10px;
                font-size: 18px;
            }

                nav .menu a:hover,
                nav .icons a:hover {
                    color: #ddd;
                }

            nav .icons {
                display: flex;
                align-items: center;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

            .dropdown .dropdown-toggle {
                display: flex;
                align-items: center;
                cursor: pointer;
            }


                .dropdown .dropdown-toggle img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 8px;
                }

            .dropdown .dropdown-menu {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: #444;
                border-radius: 4px;
                padding: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                z-index: 1001;
            }

            .dropdown:hover .dropdown-menu {
                display: block;
            }

            .dropdown .dropdown-menu a {
                color: #fff;
                text-decoration: none;
                display: block;
                padding: 8px 0;
            }

                .dropdown .dropdown-menu a:hover {
                    color: #ddd;
                }
         /*Notification*/
        .notification-container {
            width: 350px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            position: fixed; /* Để cố định vị trí */
            top: 60px; /* Cách 20px từ trên xuống */
            right: 0px; /* Cách 20px từ bên phải */
            z-index: 1000; /* Đảm bảo hiển thị lên trên */
            overflow-y: auto; /* Bật thanh cuộn dọc */
            height: 100vh;
        }
        .notification-container::-webkit-scrollbar {
            width: 8px; /* Độ rộng của thanh cuộn */
        }
        .notification-container::-webkit-scrollbar-track {
             background: #f1f1f1; /* Màu nền của đường dẫn thanh cuộn */
             border-radius: 8px;
        }
            .notification-container::-webkit-scrollbar-thumb {
                background-color: #888; /* Màu thanh cuộn */
                border-radius: 8px;
                border: 2px solid #f1f1f1; /* Khoảng cách giữa thanh cuộn và track */
            }
            .notification-container h1 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                text-align: center;
            }

        .notification, 


        nav .icons {

            display: flex;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #e0e0e0;
        }

            .notification:last-child {
                border-bottom: none;
            }

            .dot img {
                width: 40px;
                height: 40px;
                border-radius: 50%; /* Đảm bảo ảnh sẽ tròn */
                margin-right:20px
            }
        .content {
            flex: 1;
        }

        .title {
            font-size: 16px;
            font-weight: 500;
        }


        .time {
            font-size: 12px;
            color: #888;


        nav a:hover,
        nav label:hover {
            color: #007bff;

        }

        .status-dot {
            width: 10px;
            height: 10px;
            background-color: #2196F3;
            border-radius: 50%;
        }


        .notification-button {
            cursor: pointer;
            font-size: 18px;
            padding: 15px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
        }
        /* Nút quay lại đầu trang */
        #scrollToTopBtn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 20%;
            cursor: pointer;
            font-size: 24px;
            display: none;
            z-index: 1000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

            #scrollToTopBtn:hover {
                background-color: #0056b3;
            }

            #scrollToTopBtn i {
                font-size: 20px;
            }


        /*Dark Mode*/
        .dark-mode {
            background-color: rgb(27, 26, 28);
            color: white;
        }

            .dark-mode nav,
            .dark-mode .dropdown-menu,
            .dark-mode .selected-option {
                background-color: rgb(27, 26, 28);
                color: white;
            }


            .dark-mode .menu a,
            .dark-mode .icons a,
            .dark-mode .dropdown-item,
            .dark-mode .label-dark {
                color: white;
            }

                .dark-mode .menu a:hover,
                .dark-mode .icons a:hover,
                .dark-mode label:hover {
                    color: #007bff;
                }

        /* Switch styles */
        .switch {
            width: 40px;
            height: 20px;
            background-color: #ccc;
            border-radius: 20px;
            position: relative;
            cursor: pointer;
            display: inline-block;
        }

            .switch::before {
                content: "";
                width: 18px;
                height: 18px;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: 1px;
                left: 1px;
                transition: transform 0.3s;
            }

        /* When the checkbox is checked */
        #darkModeToggle:checked + .switch::before {
            transform: translateX(20px);
        }

        #darkModeToggle:checked + .switch {
            background-color: #007bff;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="~/Content/css/membersofproject.css">

</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/Home/TrangChu"><img src="~/Content/images/logo.png"></a>
            </div>

            <div class="menu">
                <a href="/Home/DSProject"><i class="fas fa-tasks"></i> Projects</a>
                <a href="/Home/DSMember"><i class="fas fa-users"></i> Member</a>
                <a href="#"><i class="fas fa-users"></i> GroupChat</a>
                <a href="#"><i class="fas fa-question-circle"></i>Help</a>
            </div>

            <div class="icons">
                <a class="notification-button" onclick="toggleNotifications()"><i class="fas fa-bell"></i></a>
                <a href="#"><i class="fas fa-cog"></i></a>

                <!-- User Avatar & Dropdown Menu -->
                <div class="dropdown">
                    @if (Session["FullName"] != null)
                    {
                        <a href="#" class="dropdown-toggle">
                            <img src="~/Content/images/member-img/@Session["ImageMember"]">
                            <span style=" font-size:18px">@Session["FullName"]</span>
                        </a>
                        <div class="dropdown-menu" st>
                            <div style="display:flex; flex-direction: column; padding:10px">
                                <a href="/Home/TTCaNhan" style="font-size: 18px;">Edit Profile</a>
                                <a href="#" style="font-size: 18px;">Settings</a>
                                <div style="display: flex; align-items: center; font-size: 18px;">
                                    <label class="label-dark" for="darkModeToggle" style="margin-right: 10px;">Dark Mode</label>
                                    <input type="checkbox" id="darkModeToggle" style="display: none;">
                                    <label class="switch" for="darkModeToggle"></label>
                                </div>
                                <a href="/Home/Logout" style="font-size: 18px;">Logout</a>
                            </div>

                        </div>
                    }
                    else
                    {
                        <a href="/Home/DangNhap" style="font-size: 18px;">Login</a>
                    }
                </div>
            </div>
        </nav>

        <div class="notification-container" id="notificationContainer">
            <h1>Notifications</h1>
            <div class="notification">
                <div class="dot">
                    <img src="~/Content/images/logo.png" alt="image description">
                </div>
                <div class="content">
                    <p class="title">Task #12 Còn 1 nửa là hết hạn</p>
                    <p class="time">1 ngày trước</p>
                </div>
                <div class="status-dot"></div>
            </div>
            <div class="notification">
                <div class="dot">
                    <img src="~/Content/images/logo.png" alt="image description">
                </div>
                <div class="content">
                    <p class="title">Task #13 Còn 1 nửa là hết hạn</p>
                    <p class="time">1 ngày trước</p>
                </div>
                <div class="status-dot"></div>
            </div>
            <div class="notification">
                <div class="dot">
                    <img src="~/Content/images/logo.png" alt="image description">
                </div>
                <div class="content">
                    <p class="title">Task #13 Còn 1 nửa là hết hạn</p>
                    <p class="time">1 ngày trước</p>
                </div>
                <div class="status-dot"></div>
            </div>
            <div class="notification">
                <div class="dot">
                    <img src="~/Content/images/logo.png" alt="image description">
                </div>
                <div class="content">
                    <p class="title">Thành Viên: Nguyễn Nhật Quân đã tham gia dự án HUIT</p>
                    <p class="time">1 ngày trước</p>
                </div>
                <div class="status-dot"></div>
            </div>
            <div class="notification">
                <div class="dot">
                    <img src="~/Content/images/logo.png" alt="image description">
                </div>
                <div class="content">
                    <p class="title">Thành Viên: Nguyễn Nhật Quân đã tham gia dự án HUIT</p>
                    <p class="time">1 ngày trước</p>
                </div>
                <div class="status-dot"></div>
            </div>
            <div class="notification">
                <div class="dot">
                    <img src="~/Content/images/logo.png" alt="image description">
                </div>
                <div class="content">
                    <p class="title">Task #13 Còn 1 nửa là hết hạn</p>
                    <p class="time">1 ngày trước</p>
                </div>
                <div class="status-dot"></div>
            </div>
            <div class="notification">
                <div class="dot">
                    <img src="~/Content/images/logo.png" alt="image description">
                </div>
                <div class="content">
                    <p class="title">Task #13 Còn 1 nửa là hết hạn</p>
                    <p class="time">1 ngày trước</p>
                </div>
                <div class="status-dot"></div>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>
    <footer>
            <div class="column">
                <h3>E-Comm</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="column">
                <h3>Information</h3>
                <ul>
                    <li>About Us</li>
                    <li>Infomation</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div class="column">
                <h3>Service</h3>
                <ul>
                    <li>About Us</li>
                    <li>Infomation</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div class="column">
                <h3>My Account</h3>
                <ul>
                    <li>About Us</li>
                    <li>Infomation</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div class="column">
                <h3>Contact Us</h3>
                <p>E-Comm, 4578 Marmora Road, Glasgow D04 89GR</p>
            </div>

        </footer>*



    <div id="scrollToTopBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </div>






    <script>
        //Dropdown Menu
        document.addEventListener('click', function (e) {
            var dropdown = document.querySelector('.dropdown-menu');
            var avatar = document.querySelector('.dropdown-toggle');

            if (avatar.contains(e.target)) {
                dropdown.classList.toggle('show');
            } else {
                dropdown.classList.remove('show');
            }
        });

        //Nut Go to top
        const scrollToTopBtn = document.getElementById('scrollToTopBtn');
        scrollToTopBtn.addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        window.addEventListener('scroll', function () {
            if (window.scrollY > 160) {
                scrollToTopBtn.style.display = 'block';
            } else {
                scrollToTopBtn.style.display = 'none';
            }
        });


        // Hàm bật/tắt hiển thị notification container
        function toggleNotifications() {
            const notificationContainer = document.getElementById('notificationContainer');
            notificationContainer.style.display =
                notificationContainer.style.display === 'none' || notificationContainer.style.display === ''
                    ? 'block'
                    : 'none';
        }

        // Đóng notification container khi bấm ngoài khu vực thông báo
        window.addEventListener('click', function (event) {
            const notificationContainer = document.getElementById('notificationContainer');
            const notificationButton = document.querySelector('.notification-button');

            if (!notificationContainer.contains(event.target) && !notificationButton.contains(event.target)) {
                notificationContainer.style.display = 'none';
            }
        });

        // Toggle Dark Mode
        document.getElementById('darkModeToggle').addEventListener('change', function () {
            document.body.classList.toggle('dark-mode');
        });
    </script>
</body>

</html>
