<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Example</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/task.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/member.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/project.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/groupchat.css">


    

    <link rel="stylesheet" type="text/css" href="~/Content/css/membersofproject.css">

</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <a href="/Home/TrangChu"><img src="~/Content/images/logo.png"></a>
            </div>

            <div class="menu">
                <a href="/Home/DSProject"><i class="fas fa-tasks"></i> Projects</a>
                <a href="/Home/DSMember"><i class="fas fa-users"></i> Member</a>
                <a href="#"><i class="fas fa-users"></i> GroupChat</a>
                <a href="#"><i class="fas fa-question-circle"></i>Help</a>
            </div>

            <div class="icons">
                <a href="#"><i class="fas fa-bell"></i></a>
                <a href="#"><i class="fas fa-cog"></i></a>

                <!-- User Avatar & Dropdown Menu -->
                <div class="dropdown">
                    @if (Session["FullName"] != null)
                    {
                        <a href="#" class="dropdown-toggle">
                            <img src="~/Content/images/member-img/@Session["ImageMember"]">
                            <span style=" font-size:18px">@Session["FullName"]</span>
                        </a>
                        <div class="dropdown-menu" st>
                            <div style="display:flex; flex-direction: column; padding:10px">
                                <a href="/Home/TTCaNhan" style="font-size: 18px;">Edit Profile</a>
                                <a href="#" style="font-size: 18px;">Settings</a>
                                <a href="#" style="font-size: 18px;">Dark Mode</a>
                                <a href="/Home/Logout" style="font-size: 18px;">Logout</a>
                            </div>

                        </div>
                    }
                    else
                    {
                        <a href="/Home/DangNhap" style="font-size: 18px;">Login</a>
                    }
                </div>



            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        @RenderBody()
    </main>

    <!-- Nút quay lại đầu trang -->
    <div id="scrollToTopBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </div>

        <footer>
            <div class="column">
                <h3>E-Comm</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="column">
                <h3>Information</h3>
                <ul>
                    <li>About Us</li>
                    <li>Infomation</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div class="column">
                <h3>Service</h3>
                <ul>
                    <li>About Us</li>
                    <li>Infomation</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div class="column">
                <h3>My Account</h3>
                <ul>
                    <li>About Us</li>
                    <li>Infomation</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div class="column">
                <h3>Contact Us</h3>
                <p>E-Comm, 4578 Marmora Road, Glasgow D04 89GR</p>
            </div>
        </footer>



    <script>
        //Dropdown Menu
        document.addEventListener('click', function (e) {
            var dropdown = document.querySelector('.dropdown-menu');
            var avatar = document.querySelector('.dropdown-toggle');

            if (avatar.contains(e.target)) {
                dropdown.classList.toggle('show'); 
            } else {
                dropdown.classList.remove('show'); 
            }
        });

        //Nut Go to top
        const scrollToTopBtn = document.getElementById('scrollToTopBtn');
        scrollToTopBtn.addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        window.addEventListener('scroll', function () {
            if (window.scrollY > 200) {
                scrollToTopBtn.style.display = 'block';
            } else {
                scrollToTopBtn.style.display = 'none';
            }
        });
    </script>

</body>

</html>
