<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leadership Event HTML5 Bootstrap v5 Template</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">



    <link href="~/Content/css/TrangChu/bootstrap-icons.css" rel="stylesheet">

    <link href="~/Content/css/TrangChu/templatemo-leadership-event.css" rel="stylesheet">

</head>

<body>



        <section class="hero" id="section_1">
            <div class="container" style="width:100vw">
                <div class="row">

                    <div class="col-lg-5 col-12 m-auto">
                        <div class="hero-text">

                            <h1 class="text-white mb-4"><u class="text-info">E-Comm</u>  Welcome to Company  </h1>

                            <div class="d-flex justify-content-center align-items-center">
                                <span class="date-text">November 25 to 30, 2024</span>

                                <span class="location-text">E-comm & HUIT, TPHCM</span>
                            </div>

                            <a style="margin-top:50px; font-size:50px" href="#section_2" class="fa-solid fa-arrow-down"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="~/Content/css/TrangChu/Video/pexels-pavel-danilyuk-8716790.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>

    <style>       
        main {
            display:block;
            padding:0;
        }
    </style>
        <section class="highlight">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="highlight-thumb">
                            <img src="~/Content/css/TrangChu/Image/alexandre-pellaes-6vAjp0pscX0-unsplash.jpg" class="highlight-image img-fluid" alt="">

                            <div class="highlight-info">
                                <h3 class="highlight-title">2022 Highlights</h3>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="highlight-thumb">
                            <img src="~/Content/css/TrangChu/Image/miguel-henriques--8atMWER8bI-unsplash.jpg" class="highlight-image img-fluid" alt="">

                            <div class="highlight-info">
                                <h3 class="highlight-title">2023 Highlights</h3>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="highlight-thumb">
                            <img src="~/Content/css/TrangChu/Image/jakob-dalbjorn-cuKJre3nyYc-unsplash.jpg" class="highlight-image img-fluid" alt="">

                            <div class="highlight-info">
                                <h3 class="highlight-title">2024 Highlights</h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="about section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <h2 class="mb-4">Our <u class="text-info">Story</u></h2>
                    </div>

                    <div class="col-lg-6 col-12">
                        <h3 class="mb-3">
                            The Collaboration Between E-Comm and HUIT

                        </h3>

                        <p>Trong thời đại mà đổi mới là yếu tố cốt lõi quyết định thành công, sự hợp tác giữa E-Comm và HUIT đánh dấu một cột mốc quan trọng trong việc tái định hình thương mại số. Đây không chỉ là một liên minh kinh doanh mà còn là sự chia sẻ tầm nhìn nhằm trao quyền cho doanh nghiệp và người tiêu dùng thông qua công nghệ tiên tiến và trải nghiệm liền mạch.... .</p>

                        <a class="custom-btn custom-border-btn btn custom-link mt-3 me-3" href="#section_3">Meet Speakers</a>

                        <a class="custom-btn btn custom-link mt-3" href="#section_4">Check out Schedule</a>
                    </div>

                    <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                        <h4>
                            E-Comm: Công ty có khoảng 120 thành viên, bao gồm các chuyên gia công nghệ, nhà phát triển phần mềm

                        </h4>

                        <div class="avatar-group border-top py-5 mt-5">
                            <img src="~/Content/css/TrangChu/Image/Avatar/n1.jpg" class="img-fluid avatar-image" alt="">

                            <img src="~/Content/css/TrangChu/Image/Avatar/n2.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                            <img src="~/Content/css/TrangChu/Image/Avatar/n3.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                            <img src="~/Content/css/TrangChu/Image/Avatar/t1.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                            <p class="d-inline">120+ People are attending with us</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="speakers section-padding" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
                        <div class="speakers-text-info">
                            <h2 class="mb-4">Ceo <u class="text-info">Founder</u></h2>

                            <p></p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="speakers-thumb">
                            <img src="~/Content/css/TrangChu/Image/Avatar/t2.jpg" class="img-fluid speakers-image" alt="">

                            <small class="speakers-featured-text">Featured</small>

                            <div class="speakers-info">

                                <h5 class="speakers-title mb-0">Nguyễn Nhật Quân</h5>

                                <p class="speakers-text mb-0">CEO / Founder</p>

                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                    <li><a href="#" class="social-icon-link bi-google"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="speakers-thumb speakers-thumb-small">
                                    <img src="~/Content/css/TrangChu/Image/Avatar/n2.jpg" class="img-fluid speakers-image" alt="">

                                    <div class="speakers-info">
                                        <h5 class="speakers-title mb-0">Võ Thị Kim Huệ</h5>

                                        <p class="speakers-text mb-0">Tester</p>

                                        <ul class="social-icon">
                                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="speakers-thumb speakers-thumb-small">
                                    <img src="~/Content/css/TrangChu/Image/Avatar/n1.jpg" class="img-fluid speakers-image" alt="">

                                    <div class="speakers-info">
                                        <h5 class="speakers-title mb-0">Huỳnh Bảo Ngọc</h5>

                                        <p class="speakers-text mb-0">Tester</p>

                                        <ul class="social-icon">
                                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="speakers-thumb speakers-thumb-small">
                                    <img src="~/Content/css/TrangChu/Image/Avatar/t1.jpg" class="img-fluid speakers-image" alt="">

                                    <div class="speakers-info">
                                        <h5 class="speakers-title mb-0">Phạm Nguyên Vũ</h5>

                                        <p class="speakers-text mb-0">Developer</p>

                                        <ul class="social-icon">
                                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="speakers-thumb speakers-thumb-small">
                                    <img src="~/Content/css/TrangChu/Image/Avatar/n3.jpg" class="img-fluid speakers-image" alt="">

                                    <div class="speakers-info">
                                        <h5 class="speakers-title mb-0">Nguyễn Lan</h5>

                                        <p class="speakers-text mb-0">Developer</p>

                                        <ul class="social-icon">
                                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="schedule section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <h2 class="mb-5 text-center">Next <u class="text-info">Schedules</u></h2>

                        <nav>
                            <div class="nav nav-tabs align-items-baseline" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-DayOne-tab" data-bs-toggle="tab" data-bs-target="#nav-DayOne" type="button" role="tab" aria-controls="nav-DayOne" aria-selected="true">
                                    <h3>
                                        <span>Day One</span>
                                        <small>November 12, 2024</small>
                                    </h3>
                                </button>

                                <button class="nav-link" id="nav-DayTwo-tab" data-bs-toggle="tab" data-bs-target="#nav-DayTwo" type="button" role="tab" aria-controls="nav-DayTwo" aria-selected="false">
                                    <h3>
                                        <span>Day Two</span>
                                        <small>November 14, 2024</small>
                                    </h3>
                                </button>

                                <button class="nav-link" id="nav-DayThree-tab" data-bs-toggle="tab" data-bs-target="#nav-DayThree" type="button" role="tab" aria-controls="nav-DayThree" aria-selected="false">
                                    <h3>
                                        <span>Day Three</span>
                                        <small>November 16, 2024</small>
                                    </h3>
                                </button>

                                <button class="nav-link" id="nav-DayFour-tab" data-bs-toggle="tab" data-bs-target="#nav-DayFour" type="button" role="tab" aria-controls="nav-DayFour" aria-selected="false">
                                    <h3>
                                        <span>Day Four</span>
                                        <small>November 18, 2024</small>
                                    </h3>
                                </button>
                            </div>
                        </nav>

                        <div class="tab-content mt-5" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-DayOne" role="tabpanel" aria-labelledby="nav-DayOne-tab">
                                <div class="row border-bottom pb-5 mb-5">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/alexandre-pellaes-6vAjp0pscX0-unsplash.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">

                                        <h4 class="mb-2">Startup Development Ideas</h4>

                                        <p>
                                            Bạn có thể tải xuống miễn phí bất kỳ mẫu CSS HTML nào từ trang web templateMo. Bạn có thể sử dụng bất kỳ mẫu nào cho mục đích kinh doanh. Bạn không được phép phân phối lại tệp ZIP có thể tải xuống trên bất kỳ trang web mẫu nào khác. Cảm ơn.
                                           
                                        </p>

                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar-group d-flex">
                                                <img src="~/Content/css/TrangChu/Image/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg" class="img-fluid avatar-image" alt="">

                                                <div class="ms-3">
                                                    Phạm Nguyên Vũ
                                                    <p class="speakers-text mb-0">Developer</p>
                                                </div>
                                            </div>

                                            <span class="mx-3 mx-lg-5">
                                                9:00 - 9:45 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                Conference Hall 3
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row border-bottom pb-5 mb-5">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/jeshoots-com-TWRCH-GaKr4-unsplash.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                                        <h4 class="mb-2">Introduction to Online Businesses</h4>

                                        <p>
                                            Kinh doanh online là hình thức hoạt động thương mại qua internet, nơi các cá nhân hoặc doanh nghiệp thực hiện các giao dịch mua bán, cung cấp dịch vụ hoặc sản phẩm mà không cần đến cửa hàng vật lý. Kinh doanh online có thể diễn ra trên các nền tảng thương mại điện tử, mạng xã hội, website riêng hoặc qua các công cụ trực tuyến khác.
                                        </p>

                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar-group d-flex">
                                                <img src="~/Content/css/TrangChu/Image/Avatar/n1.jpg" class="img-fluid avatar-image" alt="">

                                                <div class="ms-3">
                                                    Huỳnh Bảo Ngọc
                                                    <p class="speakers-text mb-0">Tester</p>
                                                </div>
                                            </div>

                                            <span class="mx-3 mx-lg-5">
                                                10:00 - 10:45 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                100-D Room
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/business-woman-making-presentation-office.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                                        <h4 class="mb-2">Bootstrapping Startup</h4>

                                        <p>Bootstrapping Startup là thuật ngữ dùng để chỉ việc khởi nghiệp mà không cần đến sự đầu tư từ bên ngoài, như vốn đầu tư mạo hiểm, các quỹ đầu tư hay nhà đầu tư thiên thần. </p>

                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar-group d-flex">
                                                <img src="~/Content/css/TrangChu/Image/Avatar/n2.jpg" class="img-fluid avatar-image" alt="">

                                                <div class="ms-3">
                                                    Võ Thị Kim Huệ
                                                    <p class="speakers-text mb-0">Tester</p>
                                                </div>
                                            </div>

                                            <span class="mx-3 mx-lg-5">
                                                11:00 - 11:45 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                100-B Room
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-DayTwo" role="tabpanel" aria-labelledby="nav-DayTwo-tab">
                                <div class="row border-bottom pb-5 mb-5">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/people-smiling-while-conference-room.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">

                                        <h4 class="mb-2">Building a famous company</h4>

                                        <p>sự kiện tập trung vào việc phát triển và xây dựng một công ty nổi tiếng thông qua các chiến lược sáng tạo, sản phẩm chất lượng, và tạo dựng thương hiệu mạnh. Sự kiện sẽ cung cấp các kiến thức về cách tạo dựng ý tưởng độc đáo, xây dựng thương hiệu, thu hút khách hàng và mở rộng quy mô doanh nghiệp để đạt được sự công nhận rộng rãi trong ngành.</p>

                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar-group d-flex">
                                                <img src="~/Content/css/TrangChu/Image/Avatar/n3.jpg" class="img-fluid avatar-image" alt="">

                                                <div class="ms-3">
                                                    Isabella
                                                    <p class="speakers-text mb-0">Event Manager</p>
                                                </div>
                                            </div>

                                            <span class="mx-3 mx-lg-5">
                                                9:00 - 9:45 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                Conference Hall 2
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/jason-goodman-bzqU01v-G54-unsplash.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                                        <h4 class="mb-2">Dev Ops life in corporate</h4>

                                        <p>sự kiện tập trung vào việc phát triển và xây dựng một công ty nổi tiếng thông qua các chiến lược sáng tạo, sản phẩm chất lượng, và tạo dựng thương hiệu mạnh. Sự kiện sẽ cung cấp các kiến thức về cách tạo dựng ý tưởng độc đáo, xây dựng thương hiệu, thu hút khách hàng và mở rộng quy mô doanh nghiệp để đạt được sự công nhận rộng rãi trong ngành.</p>

                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar-group d-flex">
                                                <img src="~/Content/css/TrangChu/Image/Avatar/t1.jpg" class="img-fluid avatar-image" alt="">

                                                <div class="ms-3">
                                                    Samantha
                                                    <p class="speakers-text mb-0">Top Level Speaker</p>
                                                </div>
                                            </div>

                                            <span class="mx-3 mx-lg-5">
                                                10:00 - 10:45 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                100-A Room
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-DayThree" role="tabpanel" aria-labelledby="nav-DayThree-tab">
                                <div class="row border-bottom pb-5 mb-5">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/people-smiling-while-conference-room.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">

                                        <h4 class="mb-2">Maintaining a successful business</h4>

                                        <p>sự kiện tập trung vào việc phát triển và xây dựng một công ty nổi tiếng thông qua các chiến lược sáng tạo, sản phẩm chất lượng, và tạo dựng thương hiệu mạnh. Sự kiện sẽ cung cấp các kiến thức về cách tạo dựng ý tưởng độc đáo, xây dựng thương hiệu, thu hút khách hàng và mở rộng quy mô doanh nghiệp để đạt được sự công nhận rộng rãi trong ngành.</p>

                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar-group d-flex">
                                                <img src="~/Content/css/TrangChu/Image/Avatar/t2.jpg" class="img-fluid avatar-image" alt="">

                                                <div class="ms-3">
                                                    Isabella
                                                    <p class="speakers-text mb-0">Event Manager</p>
                                                </div>
                                            </div>

                                            <span class="mx-3 mx-lg-5">
                                                9:00 - 9:45 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                Conference Hall 1
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/jason-goodman-bzqU01v-G54-unsplash.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                                        <h4 class="mb-2">Working Life in Corporate Environment</h4>

                                        <p>Sử dụng các chiến lược marketing truyền thống và digital để tăng cường nhận diện thương hiệu. Điều này bao gồm quảng cáo trên mạng xã hội, marketing nội dung, hợp tác với influencer và PR.</p>

                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar-group d-flex">
                                                <img src="~/Content/css/TrangChu/Image/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg" class="img-fluid avatar-image" alt="">

                                                <div class="ms-3">
                                                    Samantha
                                                    <p class="speakers-text mb-0">Top Level Speaker</p>
                                                </div>
                                            </div>

                                            <span class="mx-3 mx-lg-5">
                                                10:00 - 10:45 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                100-C Room
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-DayFour" role="tabpanel" aria-labelledby="nav-DayFour-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <img src="~/Content/css/TrangChu/Image/jeshoots-com-TWRCH-GaKr4-unsplash.jpg" class="schedule-image img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                                        <h4 class="mb-2">After Party at the fullest</h4>

                                        <p>There is a plenty of great HTML CSS templates available at TemplateMo.com website for your businesses. You can download, edit and use any template for any purpose. Please let us know <a rel="nofollow" href="https://templatemo.com/contact" target="_parent"><u>your feedback via Email</u></a>. Thank you.</p>

                                        <div class="d-flex align-items-center mt-4">

                                            <span>
                                                <i class="bi-clock me-2"></i>
                                                8:00 - 9:00 AM
                                            </span>

                                            <span class="mx-1 mx-lg-5">
                                                <i class="bi-layout-sidebar me-2"></i>
                                                Conference Hall 2
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="venue section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <h2 class="mb-5">Địa chỉ điểm đến <u class="text-info">E-comm</u></h2>
                    </div>

                    <div class="col-lg-6 col-12">
                        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.067347872709!2d106.6260906748054!3d10.806153889344436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27d8b4f4d%3A0x92dcba2950430867!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBUaMawxqFuZyBUUC4gSOG7kyBDaMOtIE1pbmggKEhVSVQp!5e0!3m2!1svi!2s!4v1732771960639!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%" height="371.59" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                    <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                        <div class="venue-thumb bg-white shadow-lg">

                            <div class="venue-info-title">
                                <h2 class="text-white mb-0">Ecomm - Trường Đại học Công Thương TP. Hồ Chí Minh (HUIT)</h2>
                            </div>

                            <div class="venue-info-body">
                                <h4 class="d-flex">
                                    <span>140 Đ. Lê Trọng Tấn, Tây Thạnh, Tân Phú, Hồ Chí Minh, Việt Nam</span>
                                </h4>

                                <h5 class="mt-4 mb-3">
                                    <a href="mailto:info@huit.edu.vn">
                                        info@huit.edu.vn
                                    </a>
                                </h5>

                                <h5 class="mb-0">
                                    <a href="tel:02862706275">
                                       02862706275
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>



    <!-- JAVASCRIPT FILES -->
    <script src="~/Content/css/TrangChu/JS/custom.js"></script>
    <script src="~/Content/css/TrangChu/JS/bootstrap.min.js"></script>
    <script src="~/Content/css/TrangChu/JS/jquery.sticky.js"></script>
    <script src="~/Content/css/TrangChu/JS/click-scroll.js"></script>
    <script src="~/Content/css/TrangChu/JS/custom.js"></script>

</body>
</html>