@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table border="1">
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
    </tr>
</table>
